.appOurCoffee{
  .appPleasureOurCoffee{
    background: url("../../resourse/appPhoto/coffee.jpg");
    height: 260px;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}