.appInfo{
  padding: 30px 165px 200px 165px;
  height: 490px;
  background: url("../../resourse/appPhoto/desk-791178_1920.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}



